.gradle
*/local.properties
*/.idea/workspace.xml
*/.idea/libraries
.DS_Store
*/build

Android/.idea/workspace.xml
Android/local.properties

Android/local.properties

Android/app/app.iml

Android/.idea/gradle.xml

Android/build/intermediates/dex-cache/cache.xml

Android/build/intermediates/dex-cache/cache.xml
